<center>
    <hr />
    <p style="width: 50px;">
            <img src="https://image.shutterstock.com/image-vector/illustration-flat-icon-tv-channel-260nw-482689633.jpg" 
            height="60" alt="" style="float: center;"/>
            
    </p>
    </p>
    &copy; Santhosh Cattavarayane, 2020
    </p>
    
</center>